STRAVA_CLIENT_ID="여기에_스트라바_클라이언트_ID"
STRAVA_CLIENT_SECRET="여기에_스트라바_시크릿_키"
STRAVA_REFRESH_TOKEN="여기에_스트라바_리프레시_토큰"

GEMINI_API_KEY="여기에_제미나이_API_키"

TELEGRAM_BOT_TOKEN="여기에_텔레그램_봇_토큰"
TELEGRAM_CHAT_ID="여기에_텔레그램_개인_챗_ID"
